/* Style for brand image */
.brand-logo {
    max-width: 100%;  /* Allow image to scale down relative to the container */
    height: auto;     /* Maintain the aspect ratio */
    width: auto;      /* Allow image width to adjust based on the parent */
}

.brand-logo-mobile {
    max-width: 75%;      /* Set a specific size for mobile view */
    height: auto;     /* Maintain the aspect ratio */
}
